        /*------------- Desktop first ---------------------------------------------------- */
        
        #wrapper {
            width: 1050px;
            height: 90%;
        }
        header h1 {
            width: 48%;
            float: left;
        }
        header nav {
            width: 48%;
            float: right;
            text-align: right;
            margin-top: 30px;
        }
        li {
            display: inline;
            padding: 0% 0.5em;
        }
        nav ul li:first-child {
            border-left: none;
        }
        nav .selected a {
            color: black;
            text-decoration: none;
        }
        nav li {
            border-left: 1px solid black;
        }
        #img1 {
            width: 990px;
            height: 340px;
        }
        .column1 {
            width: 41.3%;
            float: left;
            margin: 1%;
        }
        .column2,
        .column3 {
            width: 26.3%;
            float: left;
            margin: 1%;
        }
        footer {
            height: 10%;
            width: 1050px;
        }
        footer nav {
            margin-top: 1%;
        }
        /*------------------------------------------- Media queries ---------------------------------------------------- */
        /* Large Devices, Wide Screens */
        
        @media only screen and (max-width: 1200px) {
            #wrapper {
                width: 800px;
            }
            #img1 {
                width: 100%;
                height: 100%;
            }
            footer {
                width: 800px;
            }
        }
        /* Medium Devices, Desktops */
        
        @media only screen and (max-width: 915px) {
            #wrapper {
                width: 100%;
            }

            footer {
                width: 100%;
            }
        }
        /* Small Devices, Tablets */
        
        @media only screen and (max-width: 800px) {
            #wrapper {
                height: 95%;
            }
            #img1 {}
            nav ul li {
                background-color: #E0E0E0;
                margin: 2px 1px;
                padding: 1px;
                border: none;
            }
            nav .selected {
                background-color: #9E9E9E;
            }
            header {
                text-align: center;
            }
            header h1 {
                float: none;
                width: 100%;
            }
            header nav {
                text-align: center;
                float: none;
                width: 100%;
            }
            li {
                display: block;
                text-align: center;
            }
            .column1,
            .column2,
            .column3 {
                width: auto;
                float: none;
            }
            footer {
                height: 5%;
            }
            footer nav {
                display: none;
            }
        }

