/*--------------------- Desktop ----------------------------------------*/
#wrapper {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 1030px;
  height: 90%;
  overflow-y:scroll;
  background-color: white;
  
}

#container{
  padding: 0 1%;
}


header h1 {
    width: 48%;
    float: left;
    
}

header nav {
    width: 48%;
    float: right;
    text-align: right;
    margin-top: 30px;
   
}

nav ul li:first-child{
  border-left: none;
}

nav li .selected {
    color: black;
    text-decoration: none;
}

nav li {
  border-left: 1px solid black;
}

#content{
   width: 990px;
}

.img1 {
    width: 990px;
    height: 340px;
}



.column1
{
    width: 41.3%;
    float: left;
    margin: 1%;
}

.column2,
.column3 {
    width: 26.3%;
    float: left;
    margin: 1%;
}



footer nav{
   margin-top: 1%;
}

footer{
   position:fixed;
   margin-left: auto;
   margin-right: auto; 
   bottom:0px;
   height:10%;
   width: 1030px;
   background-color: white;
}