    /* --------------------- general ------------------------------------------------------------ */
    
    body {
        background-color: black;
    }
    p {
        font-size: 100%;
    }
    #wrapper {
        position: fixed;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        overflow-y: scroll;
        background-color: white;
    }
    #container,
    header,
    #content {
        padding: 0.5%;
        margin: 0.5%;
    }
    footer {
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        background-color: white;
        text-align: center;
        border-top: solid 1px #263238;
    }
    h3 {
        color: #01579B;
    }
    h4 {
        color: green;
    }
    h5,
    .red {
        color: red;
    }
    #typesText {
        border: 1px solid;
        background-color: #CDDC39;
        padding: 0% 1px;
        margin-bottom: 10px;
    }
    img {
        width: 100%;
        margin: 2px 0%;
    }
    #typesText p a:last-child {
        text-decoration: none;
    }
