body{


   background-color:black;
  
}

p{
	 font-size: 85%;
}


footer{
	text-align: center;
	border-top: solid 1px #263238;
}

h3{
	color: #01579B;
}

h4{
	color:green;
}

h5, .red{
	color: red;
}

#typesText{
  border: 1px solid;
  background-color: #CDDC39;
  padding: 0% 1px;
  margin-bottom: 10px;
}



a[title = "assigned web"] {
	text-decoration: none;
}


img{
	width: 100%;
	height: 150px;
	margin:  2px 0%;
}